{% extends "base.html" %}
{% block page_title %}
<h2>View All Poetry based on Different Categories</h1>
 {% endblock page_title %}

 {% block page_content %}
 {% block posts %}
 {% for post in posts %}
 <h3><a href="{% url 'blog_detail' post.pk %}">{{ post.title }} </a></h3>
 <small>
    {{ post.created_on.date}} | Categories &nbsp :&nbsp
    {% for category in post.categories.all %}
    <a href="{% url 'blog_category' category.name %}" style="text-decoration:none; font-weight:bold;">
        {{category.name}} &nbsp&nbsp&nbsp
    </a>
    {% endfor %}

</small>
<p>{{ post.body |truncatechars:150 }}</p>
{% endfor %}
{% endblock posts %}
{% endblock page_content %}


     